<div ng-controller="showVideosController" ng-init="submit()">
	<h1 class="page-header">Show Videos</h1>
	<div class="row">
		<div class="col-md-12">
			<div>
				<div class="alert alert-success alert-dismissible" role="alert">
					<button type="button" class="close" data-dismiss="alert"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<strong>Success!</strong> Query took {{responseTime}} ms;
				</div>
			</div>
			<div id="showVideos">    
			</div>
		</div>
	</div>
</div>