<div ng-controller="uploadVideosController">
	<style>
        #preview .thumbnail{
            width:400px;
            height: 400px;
            float:left;
            margin:2px;
        }
        #preview .thumbnail video{
            width:400px;
            height: 400px;
        }

    </style>
	<h1 class="page-header">Upload Videos</h1>
	<div class="row">
		<div class="col-md-12">
			<p>		
				<input type="file" multiple id="fileinput" ngf-select="upload($file)" ngf-max-size="50MB" accept="video/*"/>
			</p>
			<div class="col-sm-3" id="preview"></div>
		</div>
	</div>
</div>